@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: #0e0f12;
    --panel: #171922;
    --text-main: #f8f8f2;
    --placeholder: rgba(255,255,255,0.5);
    --muted: #9ca0ab;
    --accent: #a6e22e;
    --link: #66d9ef;
  }

  html {
    font-size: 16px;
  }

  * {
    @apply box-border;
  }

  html,
  body,
  #root {
    @apply min-h-full;
  }

  body {
    margin: 0;
    font-family: theme('fontFamily.mono');
     /* background:
      radial-gradient(circle at 15% 15%, rgba(249, 38, 114, 0.1), transparent 34%),
      radial-gradient(circle at 85% 85%, rgba(102, 217, 239, 0.09), transparent 35%),
      var(--bg);  */
  }
}
